@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Ropa Sans', sans-serif;
}

.floating {
	align-self: center;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-20px);
	}

	100% {
		transform: translatey(0px);
	}
}

@font-face {
	font-family: 'Harlow';
	font-style: normal;
	font-weight: 400;
	src: url("/public/assets/font/Harlow/harlow-solid.woff2") format('woff2'),
         url("/public/assets/font/Harlow/harlow-solid.woff") format('woff');
}

.croppie-container .cr-boundary {
	border-radius: 10px;
}

.modal-content {
	background-color: rgb(68, 68, 68);
}

.info-container-modal {
	margin: 20px;
}

.croppie-container {
	height: auto;
}

.input[type=file] {
	border-radius: 10px;
}


input[type="file"] {
	display: none;
}
